.bannerCard {
    height: 40vh;
    display: flex;
    background-image: url('../assets/cover-img.png');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: brightness(60%);
}

.bannerHeading {
    text-align: center;
    color: white;
    font-size: 56px;
    font-weight: 400;
    width:70%;
    margin-bottom: 40px;
}

.bannerText {
    text-align: center;
    color: white;
    font-size: 24px;
    width:75%;
    
}